@import "tailwindcss";

@theme {
  --color-primary-500: #3F51B5;
  --color-secondary-500: #E67E22;
  --color-grey-ligth: #F4F6F8;
  --color-grey: #E0E0E0;
  --color-black: #212121;
  --color-black-soft: #757575;
}
